<h1>Hello Dear {{name}},</h1>

<h2>Iltiomos,emailingizni tasdqlash uchun quyidagi confirm tugmasini bosing</h2>
<p>
  <a href='{{url}}'>Confirm</a>
</p>

<p>Id you did not request this email you can safely ignore it</p>